body{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.o_kanban_card{
    padding-bottom: 8px;
}

ul{
    list-style-type:none;
    padding:0;
    margin-top:0;
    margin-bottom:0;
}

.o_primary {
    color: #337ab7;
    font-weight: 700;
}

.o_kanban_card_header{
    padding: 2px;
}

.o_kanban_card_content > .row > div{
}

.o_kanban_image{
    float:left;
    width:64px;
    margin-bottom:8;
    text-align: center;
}

.fa{
    margin-right:3;
}

.o_kanban_button{
    display:none;
}

.o_kanban_manage_toggle_button{
    display:none;
}

.o_kanban_card_manage_section{
    display:none;
}

.o_kanban_image:after{
    clear: both;
}

.o_kanban_image img{
    box-shadow:none;
    text-align:center;
    max-width:100%;
}

.o_kanban_image+div{
    padding-left:72px;
}

.o_kanban_image+div{
    padding-left:80px;
}

.oe_kanban_details ul{
    margin-bottom:0;
}

.badge {
    font-weight: normal;
    font-size: 11px;
    background-color: #7C7BAD;
    display: inline-block;
    min-width: 10px;
    margin-top: 3px;
    padding: 3px 7px;
    color: #FFF;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}

.col-xs-6 {
    float:left;
    width: 50%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.pull-right {
    float: right !important;
}

.text-right{
    text-align:right;
}

.row, .row:after{
    clear: both;
}

.label{
    display:inline;
    padding:.2em .6em .3em;
    font-size:85%;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:.25em; vertical-align:bottom;
}

a.label:hover,a.label:focus{
    color:#fff;
    text-decoration:none;
    cursor:pointer
}

.label:empty{
    display:none
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.btn .label{
    position:relative;
    top:-1px
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2d6da3;
}

.label-default{
    background-color:#777
}

.label-default[href]:hover,.label-default[href]:focus{
    background-color:#5e5e5e
}

.label-primary{
    background-color:#337ab7
}

.label-primary[href]:hover,.label-primary[href]:focus{
    background-color:#285f8f
}

.label-success{
    background-color:#5cb85c
}

.label-success[href]:hover,.label-success[href]:focus{
    background-color:#449d44
}

.label-info{
    background-color:#5bc0de
}

.label-info[href]:hover,.label-info[href]:focus{
    background-color:#31b0d5
}

.label-warning{
    background-color:#f0ad4e
}

.label-warning[href]:hover,.label-warning[href]:focus{
    background-color:#ec971f
}

.label-danger{
    background-color:#d9534f
}

.label-danger[href]:hover,.label-danger[href]:focus{
    background-color:#c9302c
}